<header>
    <div class="container">
        <a routerLink="/" class="logo">Sales</a>
        <nav>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/sell">Venta</a></li>
                <li class="menu-container">
                    <a routerLink="/dashboard">Dashboard <span>3</span></a>
                    <div class="menu">
                        <a routerLink="/mysells">Mis Ventas</a>
                        <a routerLink="/profile">Mi Perfil</a>
                        <a routerLink="/logout">Cerrar Sesión</a>
                    </div>
                </li>
                <li><a routerLink="/return">Devolucion de Vestido</a></li>
            </ul>
        </nav>
    </div>
</header>
